<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><?php echo $title; if (isset($_GET['page'])) { echo " - ". ((int) $_GET['page'])." ".$text_page;} ?></title>
<base href="<?php echo $base; ?>" />
<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; if (isset($_GET['page'])) { echo " - ". ((int) $_GET['page'])." ".$text_page;} ?>" />
<?php } ?>
<?php if ($keywords) { ?>
<meta name="keywords" content= "<?php echo $keywords; ?>" />
<?php } ?>
<meta property="og:title" content="<?php echo $title; if (isset($_GET['page'])) { echo " - ". ((int) $_GET['page'])." ".$text_page;} ?>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<?php echo $og_url; ?>" />
<?php if ($og_image) { ?>
<meta property="og:image" content="<?php echo $og_image; ?>" />
<?php } else { ?>
<meta property="og:image" content="<?php echo $logo; ?>" />
<?php } ?>
<meta property="og:site_name" content="<?php echo $name; ?>" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/zooshef.css" rel="stylesheet">
<?php foreach ($styles as $style) { ?>
<link href="<?php echo $style['href']; ?>" type="text/css" rel="<?php echo $style['rel']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/ajax_product_loader.js" type="text/javascript"></script>
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>
<?php foreach ($scripts as $script) { ?>
<script src="<?php echo $script; ?>" type="text/javascript"></script>
<?php } ?>
<?php foreach ($analytics as $analytic) { ?>
<?php echo $analytic; ?>
<?php } ?>
</head>
<body class="<?php echo $class; ?>">


<div class="header_curier">
<header>
  <div class="container">
    <div class="row">
        <div class="header-up">
        <div id="logo" class="logo">
          <?php if ($logo) { ?>
            <?php if ($home == $og_url) { ?>
              <img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive" />
            <?php } else { ?>
              <a href="<?php echo $home; ?>"><img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive" /></a>
            <?php } ?>
          <?php } else { ?>
            <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
          <?php } ?>
        </div>
            <div class="header-up-left-col">

                    <div class="custom-select fl-left">
                        <div class="select-mask" id="selected-city">

                        </div>
                        <div class="custom-select-content"></div><select class="custom-select-hidden" id="user_location_select" name="">
                            <option data-city="Москва" value="Москва">
                                Москва
                            </option>
                            <option data-city="Выбрать регион" value="0">
                                Выбрать регион
                            </option>
                        </select>
                    </div>
                    <div class="contact-data fl-left">
                        <span class="top-contact-phone" id="contact-all-phone" style="display: inline;">8 800 550 85 86</span><span class="top-contact-phone" id="contact-moscow-phone" style="display: none;">(495) 544 85 85</span>
                        <div class="tooltip-pop">
                            <div class="tip-body">
                                <div class="heading">
                                    График работы Call-центра
                                </div>
                                <div class="line">
                                    <span class="days">Пн—Пт:</span> с 9:00 до 18:00
                                </div>
                                <div class="line">
                                    <span class="days">Сб—Вс:</span> с 10:00 до 18:00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-data fl-left">
                        Skype: Zooshef.ru
                    </div>
                    <div class="clearfix"></div><a class="default-link fl-left" href="/delivery.htm">Доставка и оплата</a> <span class="default-link func-link fl-left">Перезвоните мне</span>
                    <div class="tooltip-pop call-us">
                        <span class="default-link func-link fl-left"></span>
                        <div class="tip-body">
                            <span class="default-link func-link fl-left"></span>
                            <div class="close-btn">
                                <span class="default-link func-link fl-left"></span>
                            </div>
                            <div class="zag3">
                                <span class="default-link func-link fl-left">Заказать обратный звонок</span>
                            </div>
                            <div id="form-callback-block">
                                <span class="default-link func-link fl-left"></span>
                                <form id="form-callback" method="post" name="form-callback">
                                    <span class="default-link func-link fl-left"><label class="text-label" for="">Телефон</label></span>
                                    <div class="placeholder-container">
                                        <span class="default-link func-link fl-left"><input autocomplete="off" class="contact-field phone-number" data-lh_name="1688760555_field_0" id="phone-number" name="phone" placeholder="+7 ( ) - -" type="text"><label class="placeholder-text" for="phone-number"></label></span>
                                    </div><span class="default-link func-link fl-left"><label class="text-label" for="">Имя</label></span>
                                    <div class="placeholder-container">
                                        <span class="default-link func-link fl-left"><input class="contact-field" data-lh_name="1688760555_field_1" id="user-name" name="name" placeholder="Сидоров Михаил" type="text"></span>
                                    </div>
                                    <div class="sub-text">
                                        <span class="default-link func-link fl-left"><em>Время работы операторов с 9:00 до 18:00, кроме субботы и воскресенья.</em></span>
                                    </div><span class="default-link func-link fl-left"><button class="btn btn-secondary phone" data-lh_name="1688760555_field_2" type="submit"><span class="default-link func-link fl-left">позвоните мне</span><input data-lh_name="1688760555_field_3" name="action" type="hidden" value="callback"></button></span>
                                </form>
                            </div>
                            <div id="form-callback-block-sended" style="display: none;">
                                <div class="zag4" style="margin-top: 50px;">
                                    Спасибо!
                                </div>
                                <p>Мы свяжемся с вами в ближайшее время!</p>
                            </div>
                        </div>
                    </div><a class="default-link fl-left" href="/contact.htm">Контактная информация</a>


            </div>

            <div class="col-cart"><?php echo $cart; ?></div>
        </div>
        <div class="header-bottom">
              <div class="col-sm-5"><?php echo $search; ?>
              </div>

        </div>
    </div>
  </div>
</header>
</div>
<?php echo $quicksignup; ?>



<nav id="top">
    <div class="container">
        <?php echo $currency; ?>
        <?php echo $language; ?>
        <div id="top-links" class="nav pull-right">
            <ul class="list-inline">
                <li><a href="<?php echo $contact; ?>"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md"><?php echo $telephone; ?></span></li>
                <?php if ($logged) { ?>

                    <li class="dropdown"><a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_account; ?></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <?php if ($logged) { ?>
                                <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
                                <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
                                <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
                                <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
                                <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                            <?php } else { ?>
                                <li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
                                <li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php }else { ?>
                    <li class="quick-login"><a class="quick_signup"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $signin_or_register ?></span></a></li>
                <?php } ?>
                <li><a href="<?php echo $wishlist; ?>" id="wishlist-total" title="<?php echo $text_wishlist; ?>"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_wishlist; ?></span></a></li>
                <li><a href="<?php echo $shopping_cart; ?>" title="<?php echo $text_shopping_cart; ?>"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_shopping_cart; ?></span></a></li>
                <li><a href="<?php echo $checkout; ?>" title="<?php echo $text_checkout; ?>"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_checkout; ?></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<?php if ($categories) { ?>
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs"><?php echo $text_category; ?></span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <?php foreach ($categories as $category) { ?>
        <?php if ($category['children']) { ?>
        <li class="dropdown"><a href="<?php echo $category['href']; ?>" class="dropdown-toggle" data-toggle="dropdown"><?php echo $category['name']; ?></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">
              <?php foreach (array_chunk($category['children'], ceil(count($category['children']) / $category['column'])) as $children) { ?>
              <ul class="list-unstyled">
                <?php foreach ($children as $child) { ?>
                <li><a href="<?php echo $child['href']; ?>"><?php echo $child['name']; ?></a></li>
                <?php } ?>
              </ul>
              <?php } ?>
            </div>
            <a href="<?php echo $category['href']; ?>" class="see-all"><?php echo $text_all; ?> <?php echo $category['name']; ?></a> </div>
        </li>
        <?php } else { ?>
        <li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
        <?php } ?>
        <?php } ?>
      </ul>
    </div>
  </nav>
</div>
<?php } ?>
