<div id="search" >
    <div class="placeholder-container">
        <input class="search-field" id="site-search" name="search"  value="<?php echo $search; ?>" type="text"><label class="placeholder-text" for="site-search">Быстрый поиск товаров и брендов</label>
    </div><button class="btn btn-secondary search-btn txt-up" type="submit">Найти</button>
</div>