
#totop {
    z-index: 1000;
}

.adisable {
    pointer-events: none;
}
.burgers{
	display:none;
}

.prod-ch-variant .custom-radio{
	opacity: 0;
	background: red;
	width: 100%;
	position: absolute !important;
	left: 0;
	height: 100%;
}
.prod-ch-variant:before{
	content:'';
	display: inline-block;
	vertical-align:top;
	background: url("../images/radio.png") 0 0;
	width: 16px;
	height: 16px;
}
.radio-label.active:before,
.prod-ch-variant.isCheck:before{
	background-position: 0 -32px;
}

.options-list input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.options-list input[type=checkbox] + label:before {
  font-family: 'FontAwesome';
  display: inline-block;
	font-size: 20px;
	position: relative;
	top: 3px;
}

.options-list input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.options-list input[type=checkbox] + label:before { letter-spacing: 8px; } /* space between checkbox and label */

.options-list input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.options-list input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.rating{
    margin-top: 0;
}

@media screen and (max-width: 1271px)  {
.product-search .catalog-wrapper {
    width: 100%;
    padding: 0 20px;
}
}


@media screen and (min-width: 1000px)  {
#comparison-link {
    position: absolute;
    top: 0;
    right: 240px;
    margin: 10px 0 0 14px;
}
}

@media screen and (max-width: 1271px) and (min-width: 1001px) {
    body {
        min-width: 0;
    }
    .catalog-wrapper {
        width: 720px;
        margin-left: 244px;
    }
    .center-wrapper {
        width: 970px;
        padding: 0px 15px;
    }
    .main-header {
        padding-top: 69px !important;
    }
    .main-header .header-elements-block {
        width: 770px;
        margin-left: -485px !important;
        left: 50% !important;
    }
    .main-header .search-container {
        margin: 0;
        width: 45%;
        right: 10px;
        top: 100px;
        position: absolute !important;
    }
    .main-menu .menu-holder {
        width: 120px !important;
    }
    .main-header .search-container .search-field {
        width: 100%;
    }

    .main-footer .copyright-block {
        margin-top: 0;
    }

    .products-wrapper .product-wrapper {

        width: 354px;
        margin: 0 5px 20px 0;
    }
    .benefits-block .benefit-item {
        width: 190px;
    }

    .header-wrapper.sticky .header-func-links {
        display: none;
    }
}
/*сворачиваем фильтры*/
@media screen and (max-width: 1000px) {
   .header-elements-block .info-line {
       position: relative;
       z-index: 1002;
   }
    .return-pop-wrapper .return-pop-content {
        top: 180px;

    }

    .ks_filters_wrap .options-list {
        display: none;
    }

    .ks_filters_wrap .zag4 {
        padding: 10px 15px 10px 23px;
        border: 1px solid #ddd;
        border-top: 4px solid #62c081;
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .ks_filters_wrap .zag4:before {
        content: " ";
        display: block;
        border: 4px solid transparent;
        width: 1px;
        height: 1px;
        float: left;
        margin-top: 4px;
        margin-right: 6px;
        border-left: 4px solid #62c081;
    }
    .ks_filters_wrap.expanded .zag4:before {
        border-left: 4px solid transparent;
        border-top: 4px solid #62c081;
        margin-top: 6px;
    }
    .nav.nav-tabs.menu_products_properties li {
       width: 100%;
       float: left;

    }

}

.ks_filters_wrap .options-list.expanded {
    overflow: auto !important;
}

@media screen and (max-width: 1271px) and (min-width: 1231px) {
	.main-header .header-elements-block{
		margin: 9px 0 0 0;
	}
}
@media screen and (max-width: 1271px) and (min-width: 1000px) {
    .main-footer .services-block.garanty{
		display: none;
	}
}



@media screen and (max-width: 1000px){

    #comparison-link {
        position: absolute;
        right: 15px;
        bottom: 0;
    }

    .cart-items-wrapper .price-count .counter {
        height: 20px;
    }
    .product-page-wrapper .product-links .bordered-link .reviews-count{
    	top:0;
    }
    .product-page-wrapper .product-links{
    		
        line-height: 2;
    }

    .main-header .contact-data:hover .tooltip-pop{

        z-index: 9999;
    }
    .products-wrapper .switch-items .button_curier {
        float: right;


}

@media screen and (max-width: 1000px) and (min-width: 768px) {
	label.active{
		color:inherit;
	}
	label.isCheck{
	color: #62c081;
	}
	.breadcrumbs{
		line-height: 26px 
	}
	.products-wrapper .product-wrapper:nth-of-type(2n) {
		left: 10px !important;
	}
	.main-menu .menu-holder:hover .menu-drop {
	  display: none !important;
	}
	.main-menu .menu-holder:hover .menu-text{

		border-right-color: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top-color: none;
		color: none;
	}
	.main-menu .menu-holder.isActive .menu-text{
		background: #62c081;
		border-right-color: #62c081;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top-color: #4aa267;
		color: #ffffff;
	}
    *, *:before, *:after {
        box-sizing: border-box;
    }
    body {
        min-width: 0;
    }
    .main-header {
        height: auto;
        padding-top: 0;
    }
    .main-header .header-elements-block {
        position: relative;
    }
    .main-menu .menu-holder {
        width: 100% !important;
		float:none;
    }
    .main-menu .menu-holder .menu-drop {
        position: static;
        overflow: auto;
        padding: 10px;
    }
	.main-menu .menu-holder .menu-text{
		border:none;
		color:#333 !important;
	}
	.main-menu .menu-holder.isActive .menu-drop{
		display: block !important;
	}
	.text-page{
		overflow:hidden;
	}
    .actions-inner-wrapper {
        width: auto;
        margin-left: 0;
    }
    .menu-products-wrapper .menu-product+ .menu-product {
        margin-left: 10px;
    }
    .main-menu .site-menu {
        height: auto;
    }

    .center-wrapper {
        width: auto;
    }
    .main-header .search-container .search-field {
        width: 100%;
    }
    .left-small-column {
        width: 100%;
    }
    .catalog-wrapper {
        width: 100%;
        margin-left: 0;
    }

	.hided-block .hided-block-inner{
		overflow-x: auto;
	}
	.orders-wrapper .total-sum .btn{
		position:static;
	}
	
	.checkout-list .total-sum{
		height:auto;
	}
	.orders-wrapper .first-column, .orders-wrapper .second-column{
		width: 100%;
		margin-right: 0;
	}
	.right-column{
		margin-left:0;
	}
	.user-info,.right-column,.orders-wrapper .right-column{
		width:auto;
	}

    .reviews-block .review-item {
        width: 100%;
    }
    .product-page-wrapper .product-right-column {
        width: auto;
    }
    .text-page .content-block {
        width: auto;
    }
    .product-options-wrapper {
        float: none;
        width: auto;
        margin-top: 40px;
    }
    .product-images-wrapper {
        width: 100%;
    }
    .product-page-wrapper .product-left-column {
        width: 100%;
    }
    .product-description-block .product-column-left {
        width: 100%;
    }
    .product-images-wrapper img {
        max-width: 100%;
        max-height: 100%;
    }
    .main-footer {
        height: auto;
		text-align:center;
        position: relative;
    }
   
    .placeholder-container {
        display: block;
        margin-bottom: 60px;
    }
    .placeholder-text {
	    max-width: 129px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
        top: 10px !important;
    }

    .main-footer {
        height: auto;
        padding-bottom: 90px;
    }
   
	.regions_dialog .cities ul{
		float:none;
		width: 100%;
	}
    .products-wrapper .extra-info {
        position: static;
        display: block;
    }
    
	.tooltip-pop.call-us .tip-body, .tooltip-pop.log-in .tip-body{
		padding: 15px 7px 20px;
	}
	.tooltip-pop.log-in .buttons-block{
		margin-top:0;
	}
   
    .tooltip-pop.log-in {
        right: -3px;
        box-sizing: border-box;
        width: 226px;
        margin-left: -210px;
    }
    .tooltip-pop .tip-body:before {
        left: 94%;
    }
    .categories-list-wrapper .category-item {
        float: none;
    }
    .socials,
    .social-bookmarks {
        display: none;
    }
    li.menu-holder {
        border: 1px solid #ccc;
    }
    li.menu-holder a {
        border: 0 !important;
		pointer-events:none;
    }
    li.menu-holder.actions {
        border: 0 !important;
    }
    .benefit-item {
        box-sizing: border-box;
        width: 49% !important;
        margin: 0 auto;
		float: none !important;
		display: inline-block;
		vertical-align: top;
    }
    .bx-viewport {
        height: auto !important;
    }
    .main-slider img {
        height: auto !important;
        margin-top: 20px;
    }
    .bx-controls {
        display: none;
    }
    .product-wrapper {
        float: none !important;
        box-sizing: border-box;
        width: auto !important;
        max-width: 450px;
        margin: 20px auto !important;
    }
    .switch-items> button {
        margin-top: -13px;
    }
    .switch-items> div {
        margin-top: -13px;
    }
    .date {
        margin: 0 !important;
    }
    .review-item img {
        display: block !important;
        float: none !important;
        max-width: 100% !important;
        margin: 0 auto;
    }
    .products-wrapper {
        margin: 0;
    }
    .products-wrapper .switch-items {
        height: auto;
    }
    .products-wrapper .switch-items .sum.active {
        display: inline-block;
        margin-left: 10px;
    }
    .products-wrapper .switch-items .btn {
        height: auto;
		margin-left: 1px;
    }
	.products-wrapper .switch-items .btn.button-order{
		position: relative;
		margin-left: auto;
		top: 20px;;
	}
	.regions_dialog{
		position: absolute !important;
		width: 100% !important;
		left: 0 !important;
		top:0 !important;
		margin: 0px !important;
	}
	.func-link.active .tooltip-pop{
	    z-index: 100;
	}
	.contact-us-wrapper .contact-right,.contact-us-wrapper .contact-info{
	    width: 100%;
	}
	.contact-info table{
	    width: 100% !important;
	}
	.send-form{
		width:auto;
	}
	
	.regions_dialog .regions .inner,.regions_dialog .cities .inner{
		height:200px;
	}
    .switch-items> button {
        margin-top: 0;
    }
	.regions-row .regions-col-1,.regions-row .regions-col-2{
		float:none;
		width:100%;
	}
    .brands-search {
        margin-top: 0;
    }
    .fl-right, .fl-left, .clearfix {
        float: none !important;
    }
	.product-actions-wrapper .product-action-item{
		width:auto;
		float:none;
	}
    .center-wrapper {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .main-footer .services-block {
        margin: 0;
    }
    .main-footer .copyright-block {
        margin: 0;
		left:0;
        position: absolute;
        bottom: 10px;
		width:100%;
    }
	.no-results img{
		margin:10px auto;
	}
	.content-block {
		text-align: center;
	}
	.name-wrapper {
		font-size: 20px;
		line-height: 23px;
	}
	.values-container> * {
		display: inline-block;
	}
	.options-list {
		margin-right:0;
		max-height: 90px !important;
	}
	.product-page-wrapper .product-links .bordered-link {
		margin-right: 12px;
	}
	.product-options-wrapper {
		text-align: center;
	}
	#form_filter .options-list {
		text-align: left !important;
	}

	.options-list .radio-label {
		float: none;
		display: inline-block;
	}
	#product-full-descr p img {
		float: none !important;
		display: block;
		margin: 0 auto;
	}
	.cart-items-wrapper .cart-item,
	.cart-formrow .value .comment_textarea{
		width:100% !important;
	}
	.checkout-list{
		width:auto;
		box-sizing:border-box;
		text-align: center;
	}
	.cart-items-wrapper .cart-item-info{
		margin-left:0;
		text-align: center;
	}
	.return-pop-wrapper .return-pop-content{
		width: 100%;
		margin-left: 0;
		left: 0;
		padding: 10px;
	}
	.cart-items-wrapper .price-count .bootstrap-touchspin,
	.cart-items-wrapper .image{
		margin: 5px auto;
	}
	.checkout-page .checkout-list{
		margin: 5px auto;
	}
	.checkout-form{
		width:auto;
	}
	.main-footer .text-block{
		margin: 10px 0;
	}
	.menu-products-wrapper .menu-product{
		min-height:0;
	}
	.linked-products .price-count .btn-primary{
		position:static;
	}
	.left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{
		margin-left:0;
		width:100%;
	}
	.related-articles-wrapper .related-article .image{
		margin:auto;
	}
	.related-articles-wrapper .related-article .article-content{
		margin-left:0;
	}
	.loyalty-page .discount-block{
		line-height: 37px;
	}
	.loyalty-page .elem{
		float:none;
		width:100%;
		padding-left: 20px;
	}
	.loyalty-page .elem.four{
		border-radius:none;
	}
	.loyalty-page .discount-block.values{
		height:auto;
		margin-top: -148px;
	}

	.header-elements-block .fl-left {
		float: left !important;
	}
	.header-elements-block .fl-right {
	float: right !important;
	}
	.main-header .header-elements-block {
        position: static;
        width: 100%;
    }
    .header-wrapper:before {
    	display: none;
    }
    .main-header .header-func-links .default-link.data-enter {
        font-size: 0;
        position: absolute;
        z-index: 1000;
        top: 22px;
        right: 15px;
        width: 32px;
        height: 32px;
        -webkit-transform: scale(1.34);
        -moz-transform: scale(1.34);
        transform: scale(1.34);
        border: 2px solid #eee;
        border-radius: 5px;
        background: url('../images/icons.png') no-repeat;
        background-position: 7px -1792px;
    }
    .main-header .header-func-links .default-link.data-enter:after {
        display: none;
    }
 .header-func-links li:last-of-type {
        display: none !important;
    }

    .main-header .logo {
    	left: 5px;
    	top: 5px; 
    	transform: scale(0.8);
    }

    .header-wrapper.sticky .logo {
    	background-position: 0 0;
    height: 138px;
    width: 155px;
    top: 0;
    left: 0;
    overflow: hidden;
    text-indent: -1000px;
    position: absolute;
    z-index: 2;
    }

      .header-wrapper.sticky .logo {
    	left: 5px;
    	top: 5px; 
    	transform: scale(0.8);
    }

     .cart-block {
     	position: absolute;
     	z-index: 100;
        width: auto;
        min-width: 30%;
        height: 40px;
        border-radius: 5px;
        top: 100px;
        left: 200px;
    }
    .cart-block .cart-drop {
        top: auto;
        left: 10px;
        padding: 0;    
		z-index: 100;    
		text-align: left;
		padding: 0 10px;
    }
    .cart-block .cart-drop .empty-text {
        font-size: 14px;
    }
    .cart-block .cart-info {
        height: 40px;
        padding: 0 0 0 50px;
    }
    .cart-block .cart-info:before {
        margin-top: -10px;
        margin-left: -10px;
    }
    .cart-block .cart-info .price-count {
        margin-top: -5px;
    }

    .placeholder-container {
        display: block;
        margin-bottom: 10px;
    }

       .main-header .search-container {
        margin: 0;
        width: 40%;
    	right: 10px;
    	top: 100px;
    	position: absolute !important;
    }
     .search-field {
        box-sizing: border-box;
        width: 100% !important;
        height: 40px !important;
    }
    .search-btn {
        font-size: 0;
        box-sizing: border-box;
        width: 40px !important;
        height: 40px !important;
        padding: 0 !important;
    }
    .search-btn:before {
        top: 10px !important;
        left: 10px !important;
    }

    .main-menu {
    	margin-top: 80px;
    }

    .benefit-item {
    	width: 33% !important;
    }

    .product-wrapper {
    	width: 49% !important;
    	max-width: 50% !important;
		display: inline-block;
		vertical-align: top;
    	margin-right: 1px;
    }
    
}


@media screen and (max-width: 767px) {
	.products-wrapper .switch-items .btn.button-order{
		top:-10px;
	}

	label.active{
		color:inherit;
	}
	label.isCheck{
	color: #62c081;
	}
	.breadcrumbs{
		line-height: 26px 
	}
	.main-menu .menu-holder:hover .menu-drop {
	  display: none !important;
	}
	.main-menu .menu-holder:hover .menu-text{

		border-right-color: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top-color: none;
		color: none;
	}
	.main-menu .menu-holder.isActive .menu-text{
		background: #62c081;
		border-right-color: #62c081;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top-color: #4aa267;
		color: #ffffff;
	}

    .main-header .contact-data .tooltip-pop {
        margin-left: -150px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }
    body {
        min-width: 0;
    }
    .main-header {
        height: auto;
        padding-top: 0;
    }
    .main-header .header-elements-block {
        position: relative;
    }
    .main-menu .menu-holder {
        width: 100% !important;
		float:none;
    }
    .main-menu .menu-holder .menu-drop {
        position: static;
        overflow: auto;
        padding: 10px;
    }
	.main-menu .menu-holder .menu-text{
		border:none;
		color:#333 !important;
	}
	.main-menu .menu-holder.isActive .menu-drop{
		display: block !important;
	}
	.text-page{
		overflow:hidden;
	}
    .actions-inner-wrapper {
        width: auto;
        margin-left: 0;
    }
    .menu-products-wrapper .menu-product+ .menu-product {
        margin-left: 10px;
    }

    .main-header .header-elements-block {
        width: auto;
    }
    .center-wrapper {
        width: auto;
    }
    .main-header .search-container .search-field {
        width: 100%;
    }
    .left-small-column {
        width: 100%;
    }
    .catalog-wrapper {
        width: 100%;
        margin-left: 0;
    }
    .main-header .header-elements-block {
        left: auto !important;
        padding: 0;
    }
	
    .main-header .logo {
        position: static;
        display: block;
        width: 66px;
        height: 58px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-position: 0 -272px;
    }
	.hided-block .hided-block-inner{
		overflow-x: auto;
	}
	.orders-wrapper .total-sum .btn{
		position:static;
	}
	#cart-drop-wrapper{
		max-height: 367px;
	}
	.checkout-list .total-sum{
		height:auto;
	}
	.orders-wrapper .first-column, .orders-wrapper .second-column{
		width: 100%;
		margin-right: 0;
	}
	.right-column{
		margin-left:0;
	}
	.user-info,.right-column,.orders-wrapper .right-column{
		width:auto;
	}
	.user-info .your-discount-wrapper{
		position:static;
		width:auto;
	}
    .cart-block {
        display: inline-block;
        width: auto;
        min-width: 80%;
        height: 40px;
        border-radius: 5px;
    }
    .cart-block .cart-drop {
        top: auto;
        left: 10px;
        padding: 0;    
		z-index: 100;    
		text-align: left;
		padding: 0 10px;
    }
    .cart-block .cart-drop .empty-text {
        font-size: 14px;
    }
    .cart-block .cart-info {
        height: 40px;
        padding: 0 0 0 50px;
    }
    .cart-block .cart-info:before {
        margin-top: -10px;
        margin-left: -10px;
    }
    .cart-block .cart-info .price-count {
        margin-top: -5px;
    }
    .header-wrapper:before {
        display: none;
    }
    .main-header .info-line {
        width: 100%;
        margin-top: 10px;
    }
    .main-header .header-func-links {
        padding-left: 28px;
    }
    .main-header .info-line .default-link {
		display: block !important;
		margin: 5px 0;
		text-align: center;
    }
    .main-header .info-line .default-link+ .default-link {
        margin: 5px 0;
    }
    .reviews-block .review-item {
        width: 100%;
    }
    .product-page-wrapper .product-right-column {
        width: auto;
    }
    .text-page .content-block {
        width: auto;
    }
    .product-options-wrapper {
        float: none;
        width: auto;
        margin-top: 40px;
    }
    .product-images-wrapper {
        width: 100%;
    }
    .product-page-wrapper .product-left-column {
        width: 100%;
    }
    .product-description-block .product-column-left {
        width: 100%;
    }
    .product-images-wrapper img {
        max-width: 100%;
        max-height: 100%;
    }
    .main-footer {
        height: auto;
		text-align:center;
        position: relative;
    }
    .search-field {
        box-sizing: border-box;
        width: 100% !important;
        height: 40px !important;
    }
    .search-btn {
        font-size: 0;
        box-sizing: border-box;
        width: 40px !important;
        height: 40px !important;
        padding: 0 !important;
    }
    .search-btn:before {
        top: 10px !important;
        left: 10px !important;
    }
    .placeholder-container {
        display: block;
        margin-bottom: 10px;
    }
    .placeholder-text {
	    max-width: 129px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
        top: 10px !important;
    }

    .main-header .header-elements-block {
        position: static;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main-header .search-container {
        margin: 0;
    }
    .main-header {
        height: auto;
        padding: 0;
    }
    .header-wrapper:before {
        display: none;
    }
    .main-footer {
        height: auto;
        padding-bottom: 90px;
    }
    #contact-all-phone, #contact-moscow-phone {
        font-size: 20px;
        position: absolute;
        z-index: 999;
        top: -135px;
        right: 0;
        width: 180px;
        text-align: right;
    }
    #contact-moscow-phone, #contact-all-phone {
        display: none;
    }
    .contact-data {
        width: 100%;
    }
    .contact-data:nth-child(3) {
        display: none;
    }
    .main-header .custom-select {
        position: absolute;
        top: 40px;
        right: -10px;
		z-index: 10000;
        width: 165px;
    }
	.regions_dialog .cities ul{
		float:none;
		width: 100%;
	}
    .products-wrapper .extra-info {
        position: static;
        display: block;
    }
    .default-link {
        padding: 2px;
        padding-right: 15px;
        text-align: right;
    }
    .header-func-links li {
        padding: 2px;
        text-align: right;
    }
    .func-link {
        border: 0;
    }
    .default-link {
        display: none !important;
    }
    .header-func-links .default-link {
		display: inline-block !important;
		padding: 0;
    }
	.tooltip-pop.call-us .tip-body, .tooltip-pop.log-in .tip-body{
		padding: 15px 7px 20px;
	}
	.tooltip-pop.log-in .buttons-block{
		margin-top:0;
	}
    .header-func-links li:last-of-type {
        display: none !important;
    }
    .tooltip-pop.log-in {
        right: -3px;
        box-sizing: border-box;
        width: 226px;
        margin-left: -210px;
    }
    .tooltip-pop .tip-body:before {
        left: 94%;
    }
    .categories-list-wrapper .category-item {
        float: none;
    }
    .main-header .header-func-links .default-link.data-enter {
        font-size: 0;
        position: absolute;
        z-index: 99;
        top: 92px;
        right: 15px;
        width: 32px;
        height: 32px;
        -webkit-transform: scale(1.34);
        -moz-transform: scale(1.34);
        transform: scale(1.34);
        border: 2px solid #eee;
        border-radius: 5px;
        background: url('../images/icons.png') no-repeat;
        background-position: 7px -1792px;
    }
    .main-header .header-func-links .default-link.data-enter:after {
        display: none;
    }
	.socials,
    .social-bookmarks {
        display: none;
    }
    li.menu-holder {
        border: 1px solid #ccc;
    }
    li.menu-holder a {
        border: 0 !important;
		pointer-events:none;
    }
    li.menu-holder.actions {
        border: 0 !important;
    }
    .benefit-item {
        box-sizing: border-box;
        width: 49% !important;
        margin: 0 auto;
		float: none !important;
		display: inline-block;
		vertical-align: top;
    }
    .bx-viewport {
        height: auto !important;
    }
    .main-slider img {
        height: auto !important;
        margin-top: 20px;
    }
    .bx-controls {
        display: none;
    }
    .product-wrapper {
        float: none !important;
        box-sizing: border-box;
        width: auto !important;
        max-width: 450px;
        margin: 20px auto !important;
    }
    .switch-items> button {
        margin-top: -13px;
    }
    .switch-items> div {
        margin-top: -13px;
    }
    .date {
        margin: 0 !important;
    }
    .review-item img {
        display: block !important;
        float: none !important;
        max-width: 100% !important;
        margin: 0 auto;
    }
    .products-wrapper {
        margin: 0;
    }
    .products-wrapper .switch-items {
        height: auto;
    }
    .products-wrapper .switch-items .sum.active {
        display: inline-block;
        margin-left: 10px;
    }
    .products-wrapper .switch-items .btn {
        height: auto;
		margin-left: 1px;
    }
	.products-wrapper .switch-items .btn.button-order{
		position: relative;
		margin-left: auto;
		top: 20px;;
	}
	.regions_dialog{
		position: absolute !important;
		width: 100% !important;
		left: 0 !important;
		top:0 !important;
		margin: 0px !important;
	}
	.func-link.active .tooltip-pop{
	    z-index: 100;
	}
	.contact-us-wrapper .contact-right,.contact-us-wrapper .contact-info{
	    width: 100%;
	}
	.contact-info table{
	    width: 100% !important;
	}
	.send-form{
		width:auto;
	}
	
	.regions_dialog .regions .inner,.regions_dialog .cities .inner{
		height:200px;
	}
    .switch-items> button {
        margin-top: 0;
    }
	.regions-row .regions-col-1,.regions-row .regions-col-2{
		float:none;
		width:100%;
	}
    .brands-search {
        margin-top: 0;
    }
    .fl-right, .fl-left, .clearfix {
        float: none !important;
    }
	.product-actions-wrapper .product-action-item{
		width:auto;
		float:none;
	}
    .center-wrapper {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .main-footer .services-block {
        margin: 0;
    }
    .main-footer .copyright-block {
        margin: 0;
		left:0;
        position: absolute;
        bottom: 10px;
		width:100%;
    }
	.no-results img{
		margin:10px auto;
	}
	.content-block {
		text-align: center;
	}
	.name-wrapper {
		font-size: 20px;
		line-height: 23px;
	}
	.values-container> * {
		display: inline-block;
	}
	.options-list {
		margin-right:0;
		max-height: 90px !important;
	}
	.product-page-wrapper .product-links .bordered-link {
		margin-right: 12px;
	}
	.product-options-wrapper {
		text-align: center;
	}
	#form_filter .options-list {
		text-align: left !important;
	}

	.options-list .radio-label {
		float: none;
		display: inline-block;
	}
	#product-full-descr p img {
		float: none !important;
		display: block;
		margin: 0 auto;
	}
	.cart-items-wrapper .cart-item,
	.cart-formrow .value .comment_textarea{
		width:100% !important;
	}
	.checkout-list{
		width:auto;
		box-sizing:border-box;
		text-align: center;
	}
	.cart-items-wrapper .cart-item-info{
		margin-left:0;
		text-align: center;
	}
	.return-pop-wrapper .return-pop-content{
		width: 100%;
		margin-left: 0;
		left: 0;
		padding: 10px;
	}
	.cart-items-wrapper .price-count .bootstrap-touchspin,
	.cart-items-wrapper .image{
		margin: 5px auto;
	}
	.checkout-page .checkout-list{
		margin: 5px auto;
	}
	.checkout-form{
		width:auto;
	}
	.main-footer .text-block{
		margin: 10px 0;
	}
	.menu-products-wrapper .menu-product{
		min-height:0;
	}

	.linked-products .price-count .btn-primary{
		position:static;
	}
	.left-small-column + .related-articles-wrapper, .left-small-column + .reviews-wrapper{
		margin-left:0;
		width:100%;
	}
	.related-articles-wrapper .related-article .image{
		margin:auto;
	}
	.related-articles-wrapper .related-article .article-content{
		margin-left:0;
	}

	.loyalty-page .discount-block{
		line-height: 37px;
	}
	.loyalty-page .elem{
		float:none;
		width:100%;
		padding-left: 20px;
	}
	.loyalty-page .elem.four{
		border-radius:none;
	}
	.loyalty-page .discount-block.values{
		height:auto;
		margin-top: -148px;
	}
}
@media screen and (max-width: 800px){
    .cart-bt-block{
     padding: 20px 0;
        clear: both;
    }
    .view-in-popap.fl-left{
    display: block;
        width: 100%;
        float: left;
        padding: 15px 0;
    }

    .main-menu .site-menu {
		/*display:none;*/
        height: auto;
    }
	/*.burgers{
		display: block;
		position: relative;
		padding-left: 1.25em;
		height: 40px;
		border: 2px solid #d6d6d6;
		text-align: center;
	}
	.burgers:after{
	   content: "";
		position: absolute;
		top: 13px;
		left: 50%;
		width: 16px;
		height: 10px;
		border-top: 6px double #333;
		border-bottom: 2px solid #000;
	}*/
}

/*@media screen and (min-width: 800px){
.main-menu .site-menu{
display:block!important;
}
}*/
@media screen and (max-width: 767px){
.product-search .catalog-wrapper .col-sm-3, .product-search .catalog-wrapper .col-sm-4{
    padding-bottom: 20px;
   }
.contact-info table, iframe{
    max-width: 100%!important;
}
}
@media screen and (max-width: 600px){
.benefits-block{
    display: none;
   }
#cart-drop-wrapper { min-width: 189px }
}

@media screen and (max-width: 410px){
    .price_big_table td.td_option_price{
        font: 12px/14px nerissemibold;
        padding: 3px 1px;
        text-align: center;
    }
    .price_big_table td.td_option_name{
        font-size: 13px!important;
    }
    .price_big_table td.td_option_price .price-value {
        font-size: 13px!important;
    }
    .owq-option input[type="text"] {
        max-width: 30px;

    }

}

}
@media screen and (max-width: 380px){
    #comparison-link{
        top: 66px;
        bottom: inherit;
    }
   .tab-content table img{
        max-width: 100%;
        height: auto;
    }
    .cart-block {
       width: 245px!important;
        min-width: 245px!important;

    }

}
